---
/**
 * TribalLogoLockup Component
 *
 * Inline brand mark for Tribal, rendered as an SVG link.
 * Inherits foreground colour, transitions to emphasis on hover.
 * Sized to match body text font-size for seamless inline flow.
 *
 * @example
 * <p>Building <TribalLogoLockup />, semantic memory served over MCP.</p>
 */

import type {HTMLAttributes} from "astro/types";

/**
 * Props for the TribalLogoLockup component.
 */
interface Props extends Omit<HTMLAttributes<"a">, "href"> {}

const {class: className, ...attrs} = Astro.props;
---

<a
  href="https://tribal.build"
  class:list={["inline-mark", "not-prose", className]}
  target="_blank"
  rel="noopener noreferrer"
  aria-label="Tribal"
  {...attrs}
>
  <svg
    viewBox="0 0 5897 1544"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    aria-hidden="true"
  >
    <path
      d="M1318.53 1043.31C1318.46 1044.15 1318.38 1045 1318.3 1045.85C1316.57 1064.63 1312.94 1082.87 1307.61 1100.36C1306.93 1102.58 1306.23 1104.78 1305.5 1106.97C1304.38 1110.35 1303.19 1113.7 1301.93 1117.03C1296.75 1130.78 1290.49 1144 1283.26 1156.6L1283.17 1156.77C1273.2 1174.1 1260.98 1190.71 1247.6 1205.38C1225.53 1230.04 1199.81 1250.41 1171.48 1265.45L710.481 1531.9C695.505 1539.5 678.598 1543.85 660.691 1544C660.374 1544 660.057 1544 659.739 1544C644.666 1544 630.285 1541.03 617.151 1535.64L507.895 1472.49V1162.18L507.932 1162.12L592.858 1211.21C594.764 1212.62 596.717 1213.98 598.713 1215.28C603.918 1218.65 609.419 1221.61 615.17 1224.1C617.237 1225 619.336 1225.83 621.466 1226.61C633.411 1230.94 646.3 1233.3 659.739 1233.3C660.057 1233.3 660.374 1233.3 660.691 1233.3C675.065 1233.18 688.795 1230.36 701.4 1225.31C704.498 1224.08 707.527 1222.7 710.482 1221.2L773.642 1184.69L811.424 1163.08L1260.3 903.522C1262.29 902.45 1264.24 901.32 1266.16 900.133C1269.72 897.926 1273.15 895.525 1276.44 892.945C1279.21 890.767 1281.88 888.462 1284.43 886.037C1301.38 869.947 1313.32 848.622 1317.67 824.649C1318 822.824 1318.28 820.984 1318.53 819.129V1043.31Z"
      fill="currentColor"></path>
    <path
      d="M0 804.542C0.00559701 809.912 0.386887 815.193 1.11935 820.362C4.76382 846.077 17.0976 868.994 35.0494 886.037C38.3771 889.197 41.8978 892.154 45.5921 894.89C52.3856 899.922 59.7665 904.205 67.6119 907.617L369.544 1082.13C380.452 1090.6 388.411 1102.69 391.618 1116.6L391.768 1117.26L392.007 1118.41C392.084 1118.8 392.157 1119.18 392.226 1119.57V1405.15L391.81 1405.39L149.927 1265.58C120.572 1250.51 94.2932 1230.29 72.2817 1206.1C59.1329 1191.66 46.5554 1174.47 36.7061 1157.45L36.5025 1157.1C29.1624 1144.37 22.8152 1131 17.5665 1117.08C16.2025 1113.47 14.9128 1109.82 13.699 1106.13C13.1745 1104.54 12.6638 1102.94 12.1678 1101.33C6.77763 1083.88 3.08315 1065.68 1.27647 1046.92C0.438016 1038.22 0.00592858 1029.4 0 1020.48V804.542Z"
      fill="currentColor"></path>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M660.691 52.4541C678.565 52.4541 695.463 56.6328 710.465 64.0677L713.187 65.6416L713.206 65.6518L1121.1 301.411C1126.72 305.506 1131.61 310.54 1135.55 316.284C1142.28 326.092 1146.21 337.968 1146.21 350.763C1146.21 369.989 1137.33 387.138 1123.44 398.318L773.247 600.729C773.17 599.897 773.097 599.064 773.028 598.23V600.856L710.998 636.71C695.894 644.477 678.804 648.918 660.691 649.069C660.374 649.071 660.057 649.072 659.739 649.072C644.942 649.072 630.813 646.208 617.875 641.003L546.451 599.721L546.329 599.65L167.825 380.878L146.85 393.001C146.697 393.083 146.542 393.164 146.389 393.246C145.284 393.84 144.199 394.468 143.136 395.127C142.988 395.219 142.841 395.311 142.694 395.404C134.629 400.499 127.843 407.437 122.922 415.626C117.411 424.798 114.241 435.539 114.241 447.023C114.241 455.141 115.825 462.888 118.7 469.973C119.349 471.57 120.063 473.135 120.84 474.662C124.389 481.64 129.241 487.844 135.074 492.951L615.171 770.444C628.834 776.362 643.904 779.642 659.739 779.642C660.057 779.642 660.374 779.641 660.691 779.638C678.597 779.49 696.333 775.136 711.309 767.533L1143.77 517.573C1170.77 507.206 1195.71 492.68 1217.81 474.779C1218.46 474.249 1219.12 473.717 1219.76 473.181C1238.97 457.327 1255.99 438.902 1270.28 418.431C1274.5 424.476 1278.48 430.698 1282.21 437.086L1282.42 437.437C1289.33 449.307 1295.37 461.744 1300.46 474.662C1310.06 498.995 1316.27 525.032 1318.53 552.195V687.605C1316.06 706.501 1308.91 723.921 1298.28 738.66C1291.1 748.624 1282.32 757.362 1272.33 764.502L938.609 957.389L938.414 957.5L706.039 1091.81C692.193 1098.09 676.849 1101.64 660.691 1101.77C660.374 1101.78 660.057 1101.78 659.739 1101.78C642.2 1101.78 625.6 1097.75 610.81 1090.58L381.604 958.1L381.2 957.865L49.6074 766.207C38.5927 758.771 28.9654 749.432 21.197 738.66C7.88361 720.201 0.0285422 697.534 0 673.033V575.029C0.00830904 562.146 0.905204 549.47 2.63196 537.06C5.65392 515.342 11.2182 494.439 19.015 474.662C20.3755 471.211 21.8043 467.794 23.299 464.413L23.312 464.385C27.5163 454.879 32.2449 445.657 37.461 436.756L37.5586 436.588C47.9653 418.859 60.3079 402.406 74.2945 387.519C86.9929 374.003 101.047 361.778 116.239 351.062C119.13 349.023 122.063 347.038 125.034 345.11L613.063 63.0327C627.254 56.3728 643.063 52.5964 659.739 52.4578C660.056 52.4552 660.374 52.4541 660.691 52.4541ZM594.328 758.621C595.947 759.784 597.599 760.905 599.28 761.983C603.812 764.885 608.566 767.471 613.51 769.709L594.328 758.621Z"
      fill="currentColor"></path>
    <path
      d="M2691.07 530.504H2282.17V1477.04H2062.57V530.504H1653.67V416.92H2691.07V530.504ZM3229.42 795.534H3047.68C2979.03 795.534 2926.52 814.213 2890.18 851.569C2853.83 887.916 2835.66 942.437 2835.66 1015.13V1477.04H2623.63V1015.13C2623.63 912.148 2655.94 832.386 2720.56 775.846C2786.19 718.297 2880.08 689.522 3002.25 689.522H3229.42V795.534ZM3539.29 1477.04H3327.26V704.667H3539.29V1477.04ZM3546.86 500.215C3546.86 530.504 3536.26 557.26 3515.06 580.481C3494.86 602.693 3467.6 613.799 3433.28 613.799C3398.95 613.799 3371.18 602.693 3349.98 580.481C3329.79 557.26 3319.69 530.504 3319.69 500.215C3319.69 469.926 3329.79 443.675 3349.98 421.463C3371.18 398.242 3398.95 386.631 3433.28 386.631C3466.59 386.631 3493.85 398.242 3515.06 421.463C3536.26 443.675 3546.86 469.926 3546.86 500.215ZM4129.99 1371.03C4164.31 1371.03 4195.61 1365.98 4223.88 1355.88C4253.16 1344.78 4277.9 1327.61 4298.09 1304.39C4319.29 1281.17 4335.45 1251.39 4346.55 1215.04C4358.67 1178.69 4364.73 1134.77 4364.73 1083.28C4364.73 1031.79 4358.67 987.87 4346.55 951.523C4335.45 915.176 4319.29 885.392 4298.09 862.17C4277.9 838.949 4253.16 822.29 4223.88 812.193C4195.61 801.087 4164.31 795.534 4129.99 795.534H3940.68V1371.03H4129.99ZM3728.65 1477.04V416.92H3940.68V689.522H4129.99C4199.65 689.522 4262.75 698.609 4319.29 716.783C4376.84 734.956 4425.81 761.207 4466.2 795.534C4506.58 829.862 4537.37 871.257 4558.58 919.72C4580.79 968.182 4591.9 1022.7 4591.9 1083.28C4591.9 1143.86 4580.79 1198.38 4558.58 1246.84C4537.37 1295.31 4506.58 1336.7 4466.2 1371.03C4425.81 1405.36 4376.84 1431.61 4319.29 1449.78C4262.75 1467.95 4199.65 1477.04 4129.99 1477.04H3728.65ZM4909.28 1227.15C4909.28 1323.07 4967.33 1371.03 5083.44 1371.03H5295.47V1083.28H5083.44C4967.33 1083.28 4909.28 1131.24 4909.28 1227.15ZM5295.47 977.269C5295.47 904.575 5276.28 851.064 5237.92 816.737C5200.56 782.409 5151.59 765.245 5091.02 765.245C5045.58 765.245 5001.16 772.313 4957.74 786.448C4914.33 799.573 4875.46 817.746 4841.13 840.968L4788.12 750.101C4810.34 734.956 4834.57 721.831 4860.82 710.725C4888.08 699.619 4915.84 690.532 4944.11 683.464C4972.38 675.387 5000.15 669.33 5027.41 665.291C5055.68 661.252 5081.93 659.233 5106.16 659.233C5170.78 659.233 5227.82 666.805 5277.29 681.95C5326.77 697.095 5368.67 718.802 5402.99 747.072C5437.32 775.342 5463.07 809.164 5480.23 848.54C5498.4 886.907 5507.49 929.816 5507.49 977.269V1477.04H5083.44C4946.13 1477.04 4844.66 1456.34 4779.04 1414.95C4714.42 1373.55 4682.11 1310.95 4682.11 1227.15C4682.11 1143.35 4714.42 1080.76 4779.04 1039.36C4844.66 997.967 4946.13 977.269 5083.44 977.269H5295.47ZM5892.97 1477.04H5680.94V416.92H5892.97V1477.04Z"
      fill="currentColor"></path>
  </svg>
</a>

<style>
  .inline-mark {
    position: relative;
    display: inline-block;
    height: var(--text-md);
    width: auto;
    padding-inline: var(--space-05);
    vertical-align: baseline;
    transform: translateY(var(--space-05));
    color: var(--fg);
    text-decoration: none;
    border: none;
    transition:
      color var(--transition-fast),
      transform var(--transition-fast);
  }

  .inline-mark::after {
    content: "";
    position: absolute;
    bottom: calc(-1 * var(--space-1));
    left: var(--space-05);
    right: var(--space-05);
    height: var(--border-hairline);
    background: var(--emphasis);
    transform: scaleX(0);
    transform-origin: left;
    transition:
      transform var(--transition-fast),
      background var(--transition-fast);
  }

  .inline-mark:hover {
    color: var(--emphasis);
    transform: translateY(0);
  }

  .inline-mark:hover::after {
    transform: scaleX(1);
  }

  .inline-mark:focus-visible {
    outline: var(--outline-width) solid var(--fg);
    outline-offset: var(--outline-offset);
  }

  .inline-mark svg {
    height: 100%;
    width: auto;
  }
</style>
