---
import Base from '../layouts/Base.astro';
---

<Base title="Personal Site">
  <main class="min-h-screen flex items-center justify-center">
    <h1 class="text-xl font-bold tracking-display">Hello World</h1>
  </main>
</Base>
