---
/**
 * PostTags Component
 *
 * Displays a list of tags as pill badges.
 */

import {Overline} from "../typography";

interface Props {
  tags: string[];
}

const {tags} = Astro.props;
---

{
  tags.length > 0 && (
    <ul class="post-tags">
      {tags.map((tag) => (
        <li class="post-tag">
          <Overline>{tag}</Overline>
        </li>
      ))}
    </ul>
  )
}

<style>
  .post-tags {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-2);
    margin-top: var(--space-4);
  }

  .post-tag {
    display: flex;
    align-items: center;
    background-color: var(--rule);
    padding: var(--space-1) var(--space-2);
    border-radius: var(--space-1);
  }
</style>
